USE [master]
GO
/****** Object:  Database [BlackAceKazino]    Script Date: 12/31/2024 5:20:08 AM ******/
CREATE DATABASE [BlackAceKazino]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlackAceKazino', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BlackAceKazino.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BlackAceKazino_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BlackAceKazino_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlackAceKazino].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlackAceKazino]
GO
/****** Object:  Table [dbo].[Ishodi]    Script Date: 12/31/2024 5:20:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ishodi](
	[IshodID] [int] NOT NULL,
	[Ishod] [nvarchar](20) NULL,
	[Kvota] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IshodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnici]    Script Date: 12/31/2024 5:20:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnici](
	[Email] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NULL,
	[Admin] [bit] NOT NULL,
	[Balance] [float] NOT NULL,
	[Moderator] [bit] NULL,
	[FailedAttempts] [int] NULL,
	[LockoutTime] [datetime] NULL,
 CONSTRAINT [PK_Korisnici] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkeTiketa]    Script Date: 12/31/2024 5:20:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkeTiketa](
	[StavkaTiketaID] [int] IDENTITY(1,1) NOT NULL,
	[UtakmicaID] [int] NOT NULL,
	[Ishod] [nvarchar](20) NULL,
	[Kvota] [float] NOT NULL,
	[Prosao] [bit] NULL,
	[TiketID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StavkaTiketaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiketi]    Script Date: 12/31/2024 5:20:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiketi](
	[TiketID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Ulog] [float] NOT NULL,
	[MogucDobitak] [float] NOT NULL,
	[Prosao] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TiketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utakmice]    Script Date: 12/31/2024 5:20:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utakmice](
	[UtakmicaID] [int] IDENTITY(1,1) NOT NULL,
	[datumVreme] [datetime] NULL,
	[Ucesnik1] [nvarchar](50) NULL,
	[Ucesnik2] [nvarchar](50) NULL,
	[IshodID] [int] NULL,
	[Sport] [nvarchar](50) NULL,
	[Image] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[UtakmicaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ishodi] ADD  CONSTRAINT [DF_Ishodi_Kvota]  DEFAULT ((1.00)) FOR [Kvota]
GO
ALTER TABLE [dbo].[Korisnici] ADD  CONSTRAINT [DF_Korisnici_Admin]  DEFAULT ((0)) FOR [Admin]
GO
ALTER TABLE [dbo].[Korisnici] ADD  CONSTRAINT [defaultValueBalance]  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Korisnici] ADD  DEFAULT ((0)) FOR [Moderator]
GO
ALTER TABLE [dbo].[Korisnici] ADD  DEFAULT ((0)) FOR [FailedAttempts]
GO
ALTER TABLE [dbo].[StavkeTiketa] ADD  DEFAULT ((0)) FOR [Prosao]
GO
ALTER TABLE [dbo].[Tiketi] ADD  CONSTRAINT [DF_Prosao_Status]  DEFAULT (NULL) FOR [Prosao]
GO
ALTER TABLE [dbo].[StavkeTiketa]  WITH CHECK ADD  CONSTRAINT [FK_StavkeTiketa_Tiketi] FOREIGN KEY([TiketID])
REFERENCES [dbo].[Tiketi] ([TiketID])
GO
ALTER TABLE [dbo].[StavkeTiketa] CHECK CONSTRAINT [FK_StavkeTiketa_Tiketi]
GO
ALTER TABLE [dbo].[StavkeTiketa]  WITH CHECK ADD  CONSTRAINT [FK_StavkeTiketa_Utakmice] FOREIGN KEY([UtakmicaID])
REFERENCES [dbo].[Utakmice] ([UtakmicaID])
GO
ALTER TABLE [dbo].[StavkeTiketa] CHECK CONSTRAINT [FK_StavkeTiketa_Utakmice]
GO
ALTER TABLE [dbo].[Tiketi]  WITH CHECK ADD  CONSTRAINT [FK_Tiketi_Korisnici] FOREIGN KEY([Email])
REFERENCES [dbo].[Korisnici] ([Email])
GO
ALTER TABLE [dbo].[Tiketi] CHECK CONSTRAINT [FK_Tiketi_Korisnici]
GO
ALTER TABLE [dbo].[Utakmice]  WITH CHECK ADD  CONSTRAINT [FK_Utakmice_Ishodi] FOREIGN KEY([IshodID])
REFERENCES [dbo].[Ishodi] ([IshodID])
GO
ALTER TABLE [dbo].[Utakmice] CHECK CONSTRAINT [FK_Utakmice_Ishodi]
GO
USE [master]
GO
INSERT INTO Korisnici values ('admin@gmail.com', 'Admin', '$2a$10$bUODpeu22ZECzVw8fXNoae11huK1GlVEKgaId7qivHHYJaHuT3kd6','1', '999999', '0', '0', null)